ALTER TABLE clients ADD COLUMN IF NOT EXISTS status VARCHAR DEFAULT 'inquiry' CHECK (status IN ('waiting', 'inquiry', 'offer', 'completion', 'signing', 'drawdown', 'completed')); CREATE INDEX IF NOT EXISTS idx_clients_status ON clients(status);
